/* ----------------------------------------------------------
	Hoja de estilos para IE de la Aplicacion

	Desarrollado por Servicios Avanzados para las Instituciones S.L. (VIAVANSI) 2008
	Contacto: comercial@viavansi.com
	http://www.viavansi.com	
	
	Encoding:	UTF-8
	Autor:		Juan G. Hurtado
	e-Mail:		jghurtado@viavansi.es
------------------------------------------------------------- */